@import '@wizard/styles/abstracts/abstracts';

.EmailConfirmationContainer {
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

  .CardLayout {
    min-height: 28rem;
    height: auto;
    
    &__Header {
      border-radius: 1.4rem 1.4rem 0rem 0rem;
      background: linear-gradient(311deg, $blue 0%, $blue 58.67%, $purple 100%);
      h2 {
        color: $white;
      }
    }
    p {
      color: $black;
    }
  }
}
