@import '@wizard/styles/abstracts/abstracts';

.MainContainer {
  .ProfileDetailSection {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

    .ProfileDetails {
      label {
        color: $gray1;
        font-weight: 600;
      }

      span {
        color: $black;
        font-weight: 300;
      }
    }
  }
}
