@import '@wizard/styles/abstracts/abstracts';
.board {
  border-bottom: 0.1rem solid $gray3;
  &__Heading {
    &__Text {
      color: $purple;
    }
  }
  &__Content {
    color: $black;
    max-height: calc(1.5em * 5);
  }
}
