@import '@wizard/styles/abstracts/abstracts';

.OnBoardingContainer {
  background-color: $gray5;

  .OnBoarding {
    background: url('./../../../../public/gray-line.png') no-repeat;
    background-position: 100% 80%;
    min-height: 100vh;

    .OnBoardingLeft {
      h2 {
        color: $blue;
        line-height: 1.3;
      }

      p {
        color: $blue;
      }
    }
  }
}
