@import '@wizard/styles/abstracts/abstracts';

.RegisterParticipantFormContainer {
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 3rem 0;

  h2 {
    color: $purple;
  }
}
